@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font-family: 'Lato';
  background-color: black;
  margin: 0px auto;
  /*max-width: 1150px;*/
}

body.init {
  background-color: red;
}

body.init #grab-overlay{
  display: none;
}

/** prod values ***/

body.init #annotationcontainer,
body.init #container {
  display:none;
}

body.grab #annotationcontainer,
body.grab #container {
  display:none;
}

body.intro #grabinterface,
body.intro #container {
  display:none;
}

body.play #grabinterface,
body.play #annotationcontainer {
  display:none;
}

#controls, #text {
  display:none;
}

/** end prod values ***/

#overlay, #webgl, #visiblevideo, #videoel {
  position: absolute;
  top: 0px;
  left: 0px;
  width : 1280px;
  height : 720px;
  image-fit: fill;
  object-fit: fill;  
}

#videoel {
  display:none;
}

#webgl {
  z-index:40;
}

#overlay {
  display: none;
}

#visiblevideo {
  z-index:30;
}

#container {
  position : relative;
  height:720px;
}

/*
#content {
  margin-top : 50px;
  margin-left : auto;
  margin-right : auto;
  max-width: 600px;
}
 */

#sketch {
  display: none;
}

h2 {
  font-weight : 400;
}

.masks {
  display: none;
}

.btn {
  font-family: 'Lato';
  font-size: 16px;
}

#webgl2 {
  display : none;
}

#controls {
  text-align : center;
}

/*** GRAB ***/

#grabinterface, #grabinterface #snapshot, #grabinterface #headrect, #camera {
  width:1280px;
  height:720px;
  image-fit: fill;
  object-fit: fill;  
}

#grabinterface {
  position: relative;
  overflow:hidden;

}

#grabinterface #snapshot {
  position: absolute;
  z-index: 10;
  top:0;
  left:0; 
}

#grabinterface #headrect {
  position: absolute;
  z-index: 20;
  top:0;
  left:0;
}

#camera {
  position: absolute;
  top: 0;
  left: 0;
  z-index:30;
}

#grab-overlay {
  position: absolute;
  z-index: 40;
  top: 13%;
  left: 30%;
  text-align: center;
  animation: blink 2s step-end infinite;
  margin: auto;
  width: 42%;
}
/*** init ***/

#initinterface {
  display: none;
}

body.init #initinterface {
  display: block;
}

#initbutton {
  color:red;
  display: block;
  margin:1em auto 2em auto;
}

/*** annotate ***/

#annotationcontainer {
  position:relative;
  width:1280px;
  height:720px;
  image-fit: fill;
  object-fit: fill;    
}

#annotationcontainer svg,
#annotationcontainer canvas {
  transform:translateX(500px) translateY(50%) scale(2);
}

#vis {
  position:absolute;
  left:0;
  top:0;
  z-index:40;
}

#vis .controltext {
  display: none;
}


#vis circle:nth-child(3n) {
  fill:black;
}

#vis circle:nth-child(3n+1) {
  fill:red;
}

#vis circle:nth-child(3n+2) {
  fill:yellow;
}

/*
#vis circle:nth-child(n) {
  fill:black;
}

#vis circle:nth-child(n+20) {
  fill:red;
}

#vis circle:nth-child(n+40) {
  fill:yellow;
}
*/

/*
#annotationcontainer {
  transform: scale(1.2) translateX(33px);
}
*/

/*** keyframes ***/

@keyframes blink {
  0% {visibility: visible}
  75% {visibility: hidden}
}
